extends ../layouts/layout

block content
  h1 Listing students

  table
    thead
      tr
        each n in ['name','password']
          th #{n}
        th(colspan="3")
    tbody
      each student in students
        tr
          each n in ['student.name','student.password']
            td #{ eval(n) }
          td 
            a(href='/students/#{ student._id}') Show
          td 
            a(href='/students/#{ student._id}/edit') Edit
          td 
            a(onclick="click_del('/students/#{ student._id}/')") Delete

  br

  p 
    a(href='/students/new') New Student
