- var _action = student._action == 'edit' ? '#' : '/students/'
- var _method = student._action == 'edit' ? ""  : "post"
- var _type   = student._action == 'edit' ? "button"  : "submit"
- var onClick  = student._action == 'edit' ?  "click_edit('student-" + student._action + "-form','/students/" + student._id + "/')" : ""
form(id='student-#{ student._action}-form',action="#{_action}", method="#{_method}",role='form')
  each n in ['student.name','student.password']
    - m = eval(n);
    div(class="field")
      label #{n.split('.')[1]} #{m}
      br
      input(type='text',name="#{n.split('.')[1]}" ,value="#{ m == undefined ? '' : m }")
        
  div(class="actions") 
    input(type='#{_type}',value='Submit',onClick='#{onClick}')