- var _action = cup._action == 'edit' ? '#' : '/cups/'
- var _method = cup._action == 'edit' ? ""  : "post"
- var _type   = cup._action == 'edit' ? "button"  : "submit"
- var onClick  = cup._action == 'edit' ?  "click_edit('cup-" + cup._action + "-form','/cups/" + cup._id + "/')" : ""
form(id='cup-#{ cup._action}-form',action="#{_action}", method="#{_method}",role='form')
  each n in ['cup.name','cup.password']
    - m = eval(n);
    div(class="field")
      label #{n.split('.')[1]} #{m}
      br
      input(type='text',name="#{n.split('.')[1]}" ,value="#{ m == undefined ? '' : m }")
        
  div(class="actions") 
    input(type='#{_type}',value='Submit',onClick='#{onClick}')