extends ../layouts/layout

block content
  h1 Listing cups

  table
    thead
      tr
        each n in ['name','password']
          th #{n}
        th(colspan="3")
    tbody
      each cup in cups
        tr
          each n in ['cup.name','cup.password']
            td #{ eval(n) }
          td 
            a(href='/cups/#{ cup._id}') Show
          td 
            a(href='/cups/#{ cup._id}/edit') Edit
          td 
            a(onclick="click_del('/cups/#{ cup._id}/')") Delete

  br

  p 
    a(href='/cups/new') New Cup
