- var _action = book._action == 'edit' ? '#' : '/books/'
- var _method = book._action == 'edit' ? ""  : "post"
- var _type   = book._action == 'edit' ? "button"  : "submit"
- var onClick  = book._action == 'edit' ?  "click_edit('book-" + book._action + "-form','/books/" + book._id + "/')" : ""
form(id='book-#{ book._action}-form',action="#{_action}", method="#{_method}",role='form')
  each n in ['book.name','book.password']
    - m = eval(n);
    div(class="field")
      label #{n.split('.')[1]} #{m}
      br
      input(type='text',name="#{n.split('.')[1]}" ,value="#{ m == undefined ? '' : m }")
        
  div(class="actions") 
    input(type='#{_type}',value='Submit',onClick='#{onClick}')