extends ../layouts/layout

block content
  h1 Listing books

  table
    thead
      tr
        each n in ['name','password']
          th #{n}
        th(colspan="3")
    tbody
      each book in books
        tr
          each n in ['book.name','book.password']
            td #{ eval(n) }
          td 
            a(href='/books/#{ book._id}') Show
          td 
            a(href='/books/#{ book._id}/edit') Edit
          td 
            a(onclick="click_del('/books/#{ book._id}/')") Delete

  br

  p 
    a(href='/books/new') New Book
